<mat-toolbar>
  <button mat-icon-button class="toolbar-icon mat-icon-button" aria-label="toolbar icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Entre Empregos</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="toolbar-icon" aria-label="toolbar icon-button with bell icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button class="toolbar-icon" aria-label="toolbar icon-button with gear icon">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
